#menu{
    // background-color:#A0E136;
    height:240px;
    width:100%;
    margin:none;
    padding:7px 0px;
}

.menuButton{
    float:right;
    height:100%;
    font-size:16px;
    color:#555555;
}

#logo{
    width:210px;
    height:210px;
    float:left;
    margin-left:48px;
    margin-top:10px;
}